/*ESTILO GERAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    .poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

}
body{
    background-color: black;
    height: 100vh;
}

.interface{ 
    max-width: 1280px;
    margin:0 auto;
}

/* ESTILO DE CABEÇARIO */

header{
    padding: 40px 4%;

}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    trasition: .2s;
}

header a:hover{
    color: #fcfdfd;
    transform: scale(1.3);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .btn-contato button{
    padding: 10px 40px ;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #fcfdfd;
    color: #0b0b0b;
    border-radius: 30px;
    cursor: pointer;
} 

header .btn-contato button:hover{
    box-shadow: 0px 0px 10px #fcfdfd;
}

/* Imagem */

.logo img {
    height: 100px;
    width: 200px;
    height: 50px;
}